.intro__subtitle{
    font-size: 1.5rem;
    line-height: 142%;
    font-weight: 400;
    margin-bottom: 0;
    margin-bottom: 32px;
}

@media (max-width: 320px){
    .intro__subtitle{
        line-height: 30px;
    }
}