.places{
    grid-area: places;
    grid-column: 1 / -1;
    margin: 92px auto 12px;
    max-width: 984px;
}
@media (max-width: 768px){
    .places{
        margin: 92px auto 12px;
    }
}

@media (max-width: 768px){
    .places{
        margin: 88px auto 16px;
    }
}
@media (max-width: 320px){
    .places{
        margin: 64px auto 16px;
    }
}