.places{
    grid-area: places;
    grid-column: 1 / -1;
    margin: 0 auto;
    max-width: 984px;
    padding-bottom: 12px;
}
@media (max-width: 320px){
    .places{
        max-width: 320px;
        margin-bottom: 64px;
        padding-bottom: 0;
    }
}