
.places-item__text{
    font-weight: normal;
    font-size: 1.125rem;
    max-width: 484px;
    grid-area: places-item__text;
    margin-bottom: 24px;
    margin-left: 0;
    line-height: 167%;
    grid-column-start: 2;
    margin-top: 0;
}


