.places-item__url{
    font-size: 0.75rem;
    line-height: 100%;
    font-weight: normal;
    color: #AAAAAA;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    grid-area: places-item__url;
    grid-column-start: 2;
    margin: 106px 28px 12px 0;
}

