.places-item__website{
    grid-column-start: 2;
    align-self: end;
    margin-bottom: 48px;
}

@media (max-width: 1024px){
    .places-item__website{
        margin: 0 0px 48px 0;
    }
}
@media (max-width: 768px){
    .places-item__website{
        margin: 0 0 48px 0;
    }
}
@media (max-width: 320px){
    .places-item__website{
        display: none
    }
}