.places-item__website{
    grid-area: places-item__website;
    grid-column-start: 2;
    margin: 30px 28px 48px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (max-width: 1024px){
    .places-item__website{
        margin: 30px 0px 48px 0;
    }
}
@media (max-width: 768px){
    .places-item__website{
        margin: 0 0 48px 0;
    }
}
@media (max-width: 320px){
    .places-item__website{
        display: none
    }
}