.content{
    grid-area: content;
    display: grid;
    grid-template-areas: 
    ". lead lead ."
    "intro intro . ."
    "photo-grid photo-grid photo-grid photo-grid"
    ". places places ."
    "cover cover cover cover";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: 1280px;
}
