@import url(./__title/cover__title.css);
@import url(./__link/cover__link.css);
@import url(./__subtitle/cover__subtitle.css);

.cover{
    grid-area: cover;
    grid-column: span 4;
    background-image: url("../../images/cover-image.jpg");
    background-size:cover;
  
    min-height: 740px;
    max-width: 1184px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 0;
  
    margin: 0;
  }



